@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

 /* variáveis, para centralizar as cores, e otimizar o código, quando quiser mudar cores e fontes principais  */
:root { 
    --cor-principal: #1B262C;
    --cor-secundaria: #d0e5f3;
    --cor-terciaria: #00ADB5;
    --cor-hover: #073c3f; /* :hover  é uma animação visual que destaca um botão quando o cursor do mouse passa por cima dele */

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
} esse conteúdo é responsável para tirar as bordas padrão que exitstem entre textos no site */
* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; Permite que visualizemos toda nossa tela, adequando ela a dimensões/tamanhos */
    /* height: 100vh; */
    width: 100%;
    /* box-sizing: border-box; é responsável por como a largura e a altura totais de um elemento são calculadas. */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
    
}

.cabecalho_menu_link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* space-between itens dentro do contêiner são distribuídos de forma que haja um espaço igual entre eles. */
}

/* MUDAR TAMANHOS DE CONTEÚDO */
.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column; /* responsável pela direção dos elementos */
    gap: 40px; /* ajustar as margens entre um texto/conteúdo e outro */
}

/* MUDAR TAMANHOS DE CONTEÚDO E DE FONTES */
.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: var(--fonte-principal);
}

.titulo-destacado {
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* space-between - itens dentro do contêiner são distribuídos de forma que haja um espaço igual entre eles. */
    align-items: center;
    gap: 32px; /* ajustar as margens entre um texto/conteúdo e outro */
    
}

.apresentacao_links_subtitulo {
    font-size: 24px;
    font-family: var(--fonte-principal);
    font-weight:400;
}

.apresentacao_links_link {
    /* background-color: #22d4fd; cor de fundo do texto */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--cor-terciaria); /* cria uma borda em volta do texto linkado */
    width: 378px; /* aumenta o tamanho das laterais */
    text-align: center; /* centraliza o texto */
    border-radius: 8px; /* ajusta a borda, deixando ela arredondada */
    font-family: var(--fonte-secundaria); /* fonte do texto */
    font-size: 24px; /* tamanho da fonte */
    font-weight: 600; /* determina espessura da fonte */
    padding: 15px 0; /* alinha as dimensões da borda do texto */
    text-decoration: none; /* retira sublinhado do lin texto */
    color: var(--cor-secundaria); /* cor do texto */
}

.apresentacao_links_link:hover { /* :hover  é uma animação visual que destaca um botão quando o cursor do mouse passa por cima dele */
    background-color: var(--cor-hover);
}

.rodape {
    background-color: var(--cor-terciaria);
    padding: 20px;
    color: var(--cor-principal);
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria); /* fonte do texto */
    font-size: 22px; /* tamanho da fonte */
    font-weight: 400; /* determina espessura da fonte */
}

/* 
O 'display: flex;' transforma o elemento em um contêiner flexível, permitindo uma organização mais eficiente dos itens internos. 
O 'justify-content: center;' alinha os itens ao longo do eixo principal, centralizando-os no espaço disponível.
*/